{% layout "jobs" %}
{% block preheader %}
Hi {~firstName~}, we have matched this role to your profile.
{% endblock %}


{% block company %}
<td >
	<table border="0" cellpadding="0" cellspacing="0" class="left" align="left">
		<tr>
			<td>
				<a href="#">
					<img class="img-fix" src="http://placehold.it/200x150/eeeeee" width="148" >
				</a>
			</td>
		</tr>
		<tr>
			<td class="divider">&nbsp;</td>
		</tr>
		<tr>
			<td class="cta cta-green">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="#">Apply Now</a>
					</td>
				</tr>
			</table>
		</td>
		</tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" class="right" align="right">
		<tr>
			<td class="h3 first">The intro block</td>
		</tr>
		<tr>
			<td class="p">Consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. </td>
		</tr>        
		<tr>
			<td class="p"><strong>Deadline to apply: XXth Month</strong></td>
		</tr>                           
	</table>
</td>
{% endblock %}

{% block prose %}
<table class="prose" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="h3 first">
			About Company
		</td>
	</tr>
	<tr>
		<td class="p">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut.
		</td>
	</tr>
	<tr>
		<td class="h3">
			The Role
		</td>
	</tr>
	<tr>
		<td class="p">                      
			Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
	</tr>
	<tr>
		<td class="p">
			Consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
		</td>
	</tr>
	<tr>
		<td class="p">
			Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.
		</td>
	</tr> 
	<tr>
		<td class="h3">
			Application Deadline
		</td>
	</tr>
	<tr>
		<td class="p">
			Deadlines for applications: <strong>XXth Month XXXX</strong>.
		</td>
	</tr>
	<tr>
		<td class="h3">
			How to Apply
		</td>
	</tr>
	<tr>
		<td class="p">
			To apply for this role and to find out more learn more please click on the button below to <a href="#">visit the role</a> or learn more.
		</td>
	</tr>
	<tr>
		<td class="cta cta-green cta-full">
			<table border="0" cellspacing="0" cellpadding="0"  align="center">
				<tr>
					<td >
						<a href="#">Apply Now</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}

