<table class=" wrap"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="header-wrap">
			<table class="header" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td class="logo">
						<a href="https://www.royalholloway.ac.uk/">
						<img src="http://media.ratemyplacement.co.uk.s3.amazonaws.com/email-templates/connect-uni-royal-holloway/royal-holloway.jpg" alt="Royal Holloway">
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
