.jobs-table {
	padding: 10px 0 0 0;	

	> table {
		text-align: left;
		font-family: @fontBody;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;		
		width: 100%;
		border-top: 1px solid #d1d1d1; 
		//border-left: 1px solid #d1d1d1; 
		//border-right: 1px solid #d1d1d1; 
	}
 
	td {
		padding: 10px 5px;
		border-bottom: 1px solid #d1d1d1; 
	}

	.icon {
		font-weight: 700;
		color: darken(@bodyCopy, 10%);
		width: 35px;

		span {
			padding: 3px 5px;
			background: @Yellow;
			text-transform: uppercase;
			color: #000000;
			font-size: 11px;
			border-radius: 3px;
		}
	}
	.arrow {
		width: 25px;		
		font-size: 8px;
		text-align: right;

		a {
			background: @ButtonColor;
			border-radius: 50%;
			color: #FFF;
			height: 20px;
			width: 20px;
			display: block;
			text-align: center;
			line-height: 20px;
		}
	}

	.cta {
		td {
			padding: 0;
			a {line-height: 16px;}
		}
	}
}
 