.trio {

	> table {width: 100%;}

	.company-wrap {	

		&.company-alt {
			.right {
				.h1 {
					font-size: 18px;
					line-height: 22px;
				}
				.p {
					font-size: 14px;
					line-height: 23px;
					font-style: normal;
				}
			}
		}
			.dt,
			.dd {
				font-size: 13px;				
				padding-top: 0px;
			}
			.dt {
				font-weight: 700;
				padding-top: 5px;
				color: @bodyHeader;
			}
			.dd {
				border-bottom: 1px solid #eeeeee; 
				padding-bottom: 5px;
			}
			.first {
				padding-top: 0;
			}
	}

	.prose-wrap {
		padding: 20px;
		padding-top: 0;
	}

}